Link chatGPT: https://chatgpt.com/c/6705bfb3-e858-8002-a2cc-1a8ae0fc9121

# Definição

O método isin() do pandas é usado para verificar se os valores de uma coluna (ou um DataFrame) pertencem a um conjunto de valores especificado. Ele retorna um objeto booleano (True ou False) indicando se cada elemento está ou não na lista fornecida.

## Sintaxe

    DataFrame[column].isin([value1, value2, ...])

## O que ele faz:

* Compara os valores da coluna (ou do DataFrame) com uma lista ou conjunto especificado.

* Retorna um objeto booleano (True ou False) de mesmo tamanho, indicando se o elemento está no conjunto.

# Exemplo básico

Imagine este DataFrame:

In [1]:
import pandas as pd

df = pd.DataFrame({
    'Produto': ['A', 'B', 'C', 'D', 'E'],
    'Preço': [10, 20, 30, 40, 50]
})

Agora, suponha que você quer saber quais produtos estão na lista ['A', 'C', 'E']:

In [2]:
df['Produto'].isin(['A', 'C', 'E'])

0     True
1    False
2     True
3    False
4     True
Name: Produto, dtype: bool

## Como usar isin() com filtragem:

Geralmente, você usa o isin() para filtrar um DataFrame. Por exemplo:

In [4]:
produtos_filtrados = df[df['Produto'].isin(['A', 'C', 'E'])]
produtos_filtrados

  Produto  Preço
0       A     10
2       C     30
4       E     50

## Exemplo com várias colunas:

Se quiser aplicar o isin() a um DataFrame inteiro:

In [6]:
df

  Produto  Preço
0       A     10
1       B     20
2       C     30
3       D     40
4       E     50

In [5]:
df.isin([10, 'C'])

   Produto  Preço
0    False   True
1    False  False
2     True  False
3    False  False
4    False  False

# Exercício 1) Filtrar registros com base em uma lista de valores

Exercício: Você tem o seguinte DataFrame:

In [7]:
import pandas as pd

df = pd.DataFrame({
    'Produto': ['A', 'B', 'C', 'D', 'E'],
    'Preço': [10, 20, 30, 40, 50]
})

<b><u>Tarefa:</u></b>
Filtre os produtos que estão na lista ['A', 'C', 'E'] e crie um novo DataFrame com apenas esses registros.

In [8]:
df

  Produto  Preço
0       A     10
1       B     20
2       C     30
3       D     40
4       E     50

In [12]:
df1 = df[df['Produto'].isin(['A', 'C', 'E'])]
df1

  Produto  Preço
0       A     10
2       C     30
4       E     50

# Exercício 2) Verificar se valores estão presentes em outra coluna

Exercício: Dados os seguintes DataFrames:

In [13]:
df1 = pd.DataFrame({
    'Produto': ['A', 'B', 'C', 'D', 'E'],
    'Preço': [10, 20, 30, 40, 50]
})

df2 = pd.DataFrame({
    'Produto': ['B', 'D', 'F']
})

<b><u>Tarefa:</u></b>
Verifique quais produtos de df1 também estão presentes no DataFrame df2.

In [16]:
df1[df1['Produto'].isin(df2['Produto'])]

  Produto  Preço
1       B     20
3       D     40

# Exercício 3) Criar máscaras booleanas para operações lógicas

Exercício: Dado este DataFrame:

In [17]:
df = pd.DataFrame({
    'Categoria': ['Fruta', 'Legume', 'Fruta', 'Grão', 'Fruta'],
    'Nome': ['Maçã', 'Cenoura', 'Banana', 'Feijão', 'Uva']
})

<b><u>Tarefa:</u></b>
Crie uma nova coluna chamada É Fruta, que tenha True para os registros cuja categoria seja 'Fruta' e False caso contrário.

In [20]:
df['É Fruta'] = df['Categoria'].isin(['Fruta'])

In [21]:
df

  Categoria     Nome  É Fruta
0     Fruta     Maçã     True
1    Legume  Cenoura    False
2     Fruta   Banana     True
3      Grão   Feijão    False
4     Fruta      Uva     True